
html {
    height:100%;
    width:100%;
}
body{
color: #FFFBA3;
text-align: center;
background: linear-gradient(180deg, #1F263D 0%, #3E4352 100%)!important;
  background-size:100% 100%!important;
}
form{
  width: 250px;
  margin: 0 auto;
}
input{
  border-radius: 20px !important;
}
#inputFoto{
  width: 350px;
}
.tituloFooter{
  margin-top: 45px;
}

.linea{
  position: absolute;
width: 800px;
left: 30%;
height: 0px;
margin-top: 25px;
border: 1px solid #FFFFFF;
transform: rotate(180deg);
}
