.game{
    position: relative;
    display: block;
    float: left;
    width: 100%;
    height: 600px;

}
 .cielo{
  position: absolute;
  background-attachment: fixed;
  background-position: bottom left;
  z-index: -6;
  background:  url("1c.png") 20% 0 repeat;
  width: 100%;
  height: 600px;
  animation: moveback 30s linear infinite;
}
.montania{
  position: absolute;
  background-attachment: fixed;
  background-position: bottom left;
  z-index: 3;
  background:  url("1m.png") repeat;
  width: 100%;
  height: 600px;
  animation: moveback 15s linear infinite;
}

@keyframes moveback {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: -1200px;
  }
}
.perdiste{
  display: none;
}
#perdiste{
  color: red;
  font-size: 50px;
}


.pajaros{
width: 340px;
height: 240px;
position: absolute;
left: 0;
top: 60%;
background: url('pajaros.png') left center;
animation: pajaros 1.6s steps(9) infinite;
}
.aguila{
  width: 300px;
  height: 300px;
  position: absolute;
  left: 300px;
  top: 55%;
  background: url('arboldef.png') left center;
}
@keyframes pajaros {
 100% { background-position: -3260px; }
}
.pajaro-salto{
width: 340px;
height: 240px;
position: absolute;
left: 0;
top: 60%;
background: url('pajaros.png') left center;
animation: pajaro-salto  1.6s steps(9);
}
.moneda{
position: absolute;
top: 30%;
left: 60%;
width: 100px;
height: 100px;
background: url('moneda-sprite.png') left center;
animation: moneda 0.6s steps(10) infinite;
}
.puntuacion{
  position: absolute;
  right: 0%;
  top: 0%;
  color: red;
}
@keyframes moneda{
from{
  background-position: -0px;
}
to{
  background-position: -1000px;
}
}
@keyframes pajaro-salto {
 0% {v
   left: 0;
   top: 60%;
}
25%{
  left: 0;
  top: 30%;
}
50%{
  left: 0;
  top: 15%;
}
75%{
  left: 0;
  top: 30%;
}
100%{
  left: 0;
  top: 60%;
}
 100% { background-position: -3260px; }
}
